<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>My First Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>
    <div class="form-row text-left">
        <div class = "col-11 text-left">
            <h2>Asset Allocation</h2>
        </div>
    </div>
    <hr>
    <form id="portfolios" name="portfolios" action="/post" method="POST">
        <div>
            <p>Select Start Date</p>
            <input type="date" name="start" class="start_date" placeholder="Start Date"/>
            <p>Select End Date</p>
            <input type="date" name="end" class="end_date" placeholder="End Date"/>
            <p>Initial Balance</p>
            <input type="text" name="initial" class="initial" placeholder="Initial Balance"/>
            <p>Rebalancing Frequency (Month)</p>
            <input type="text" name="rebalancing" class="rebalancing" placeholder="Rebalancing (Month)"/>
        </div>
        <br>
        <hr>
        <div class="form-row">
            <button type="button" onclick="add_portfolio()">Add Portfolio</button>
            <button type="button" onclick="delete_portfolio()">Delete Portfolio</button>
            <div class="form-row">
                <ol id="pfo_div" style="list-style: none;">

                </ol>
            </div>
        </div>
        <hr>
        <input type="submit" value="Run" id="run_button"/>
        <!-- <input type="submit" value="Run" onclick="input_data_to_array()"/> -->
    </form>
</body>

<script src="../static/index.js" type='text/javascript'></script>
</html>
